<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group">
            <label for="inputName">Name</label>
            <input formControlName="username" type="text" class="form-control">
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                <div *ngIf="username.errors?.required">
                    Name is required.
                </div>
                <div *ngIf="username.errors?.minlength">
                    Name must be at least {{ username.errors?.minlength.requiredLength}} characters long.
                </div>
                <div *ngIf="username.errors?.unique">
                    Username not available.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputOption">Option</label>
            <select formControlName="option" [compareWith]="compareOption" class="form-control" id="inputOption">
                <option [ngValue]="null" disabled>Choose your profile</option>
                <option *ngFor="let option of options$ |async" [ngValue]="option">
                    {{ option.name }}
                </option>
            </select>
            <div *ngIf="option.invalid" class="alert alert-danger">
                Option is required.
            </div>
        </div>
        <div class="form-group">
            <label for="inputName">File URL</label>
            <input formControlName="fileUrl" type="text" class="form-control" disabled>
            <div class="input-group mb-3">
                <input #inputFile type="file" class="form-control" id="inputFile"
                    (change)="uploadFile($event.target.files.item(0))">
                <label class="input-group-text" for="inputFile">Upload</label>
            </div>
            <div *ngIf="invalidFile" class="alert alert-danger">
                Max size 5mb and must be a image
            </div>
        </div>
        <div class="btn-toolbar justify-content-between" role="toolbar">
            <button type="button" class="btn btn-info" (click)="setFormValues()">Set Form Value</button>
            <button type="button" class="btn btn-warning" (click)="resetForm(userForm)">Reset Form</button>
            <button type="submit" class="btn" [ngClass]="userForm.valid ?'btn-primary' : 'btn-danger'" [disabled]="!userForm.valid">Submit</button>
        </div>
    </form>

    <p *ngIf="isValidFormSubmitted" class="success">
        Form submitted.
    </p>
</div>